@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* body{
    text-align: center;
} */

.card{
    font-family: "Roboto Mono", monospace;
    width: 400px;
    color: #ffffff;
    background: radial-gradient(124.81% 124.81% at 50% -.29%, #242a42 43.75%, #121524 100%);
    margin:190px auto;
    padding: 17px;
}

img{
    width: 100%;
}

h2{
    text-transform: uppercase;
}

/* h2,
p{
    margin-left: 17px;
}

p{
    padding-bottom: 17px;
} */